{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-center">Login</h2>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.username.label(class="form-label") }}
          {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control", autocomplete='off') }}
        </div>
 
        <div class="form-group">
        {{form.captcha}}  
        </div>  
        <button type="submit" class="btn btn-primary">Login</button>

      </form>
    </div>
  </div>
</div>
{% endblock %}
